h1,h2,h3,h4,h5{
    font-family: 'Gulzar', serif;
}
p{
    font-family: 'Gulzar', serif;
}


header{
    width: 100%;
    height: 645px;
    background-image: url(../image/z_gradient_1_08.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

}

#Title-header h1{
    font-size: 60px;
    margin-bottom: 2rem;
}

#navbarNa >li{
    text-transform:uppercase;
}



.section-one{
    
    width: 100%;
    height: 850px;
    margin-top: 80px;
    
}
#text-one{
    width: 1000px;
    height: 450px;
    padding: 3rem;
}


.item-video >h1{
    text-align: center;
}

.Section-two{
    width: 100%;
    height: 1250px;
    background-image: url(../image/background2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.parafo{
    text-align:start;
    height: 80px;
    width: 450px;
}
#Dolor{
    text-align: center;
    background-color: rgb(140, 140, 150);
    height: 150px;
    width: 80%;
}
#Dolor{
    padding: 20px;
    
}
#Dolor >input{
    margin-top: 1rem;
    padding: 7px;
    border: #fff;
    border-radius: 0.5rem;
    width: 430px;
}
.btn{
    margin-left: 20px;
    width: 180px;
    padding: 7px;
    border-radius: 3rem;
}

.Section-thre {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 920px;
    background-color: rgb(24, 26, 25);
    /*background-image: url(../image/bg3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;*/
}

.features-bg{
    
    
    height: 450px;
    width: 120%;
    background-image: url(../image/bg.featu.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.features-bg p{
    
    width: 320px;
}

.img-features{
    border-radius: 50%;
}

#footer{
    position:relative;
    top: -80px;
    margin: 0%;
    padding: 0%;
    height: 660px;
    width: 100%;
    background-color: rgb(158, 154, 154);
}

#text-footer{
    border-top: black solid 2px;
    padding: 1rem;
    margin-top: 140px;
    
}
#text-features h2{
    color: white;

}
#text-features p{
    color: white;
}

#encues-footer{
    background-color: white;
    width: 100%;
    height: 160px;
    margin: auto;
}
#encues-footer >h3{
    padding-top: 15px;
    
}

#encues-footer >input{
    margin-top: 1rem;
    padding: 7px;
    background-color: rgb(206, 232, 241);
    border: #fff;
    border-radius: 0.5rem;
    width: 430px;
}