
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');



header{
    
    background:url(../image/header.svg);
    background-repeat: no-repeat;
    /*background-position: right,left;*/
    background-size: 100% 100%, 50% 100%;
    height: 850px;
    width: 100%;
    background-color: #fdd142;
}
#menu{
    width: 940px;
    height: 40px;
}

#menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu ul li{
    margin: 0;
    padding: 0;
    display: inline;
}

#menu ul li a{
    display: block;
    margin-right: 50px;
    height: 20px;
    float: left;
    padding: 15px 0 0 0 ; /*-> es lo mismo: padding-top:10px ; */
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}
.recuadro{
    
    border: #181715;

    width: 35%;
    margin-left: 3rem;
    font-size: 10px;
}
.recuadro >h1{
    font-size: 5rem;
}



.Secction-one{
    height: 850px;
    width: 100%;
    background-image:url(../image/secction-one.svg);
    
}
.btn-inicio{
    margin-top: 3rem;
}
.title-2{
    text-align: center;
    margin-top: 7rem;
}
.title-2 >h4{
    color: red;
}
 #one-sect{
     justify-content: center;
     
 }
 #one-sect >i{
    display: inline-block;
    height:200px;
    width: 150px;
 }
 .col-3{
     margin-top: 2em;
    margin-right: 1em;
    padding: 2em;
    border-width: 3px;
    border-style: solid;
    border-color: black;
 }

 #cretive-t{
     
     justify-content: center;
     
 }
 .col-2{
    margin-right: 7em;
    height: 70%;
    width: 30%;
 }

 .contac{
    margin-top: 20rem;
     height: 650px;
     width: 100%;
     background-color: cadetblue;
 }

 .dis1{
     text-align: center;
     margin-top: auto;
     text-overflow:initial;
 }

#form-text{
    margin-left: 9%;
    height: 30%;
    width: 30%;
}

.form-control {
    margin-top: 1em;
    margin-left: 5rem;
    height: 100%;
    
}


.form12 >input{
    height: 100%;
    width: 100%;
}
.btn-form{
    margin-top: 1rem;
    margin-left: 7rem;
    height: 30%;
    width: 30%;
    background-color: #fdd142;
}
.heighttext{
    width: 100%;
    height: 180px;
    margin-top: 1rem;
    margin-left: 5rem;
}

.contc-icon >ul{
    
    text-align: left;
    list-style:none;
    margin: auto;
}
.contc-icon >li{
    
    margin-top: auto;
}
footer{
    height: 450px;
    width: 90%;
    
    
}

.ul-footer{
    width: 120px;
    margin-left: 5em;
}
.ul-footer >li{
    list-style:none;
}
#img-footer{
    margin-top: 5rem;
    display: flex;
}
.col-5 >p {
    margin-top: 2.5rem;
    margin-left: 220px;
    margin-right: 1rem;
}
