body{
    margin: 0;
    padding: 0;
    background-image: url(../images/body.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
#banner{
    width: 100%;
    height: 250px;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1224px 1200px;
    
}
#header{
    width: 940px;
    height: 40px;
    margin: auto;
    padding: 0 30px;
}
.container{
    width: 1200px;
    margin: auto;
}
#main_principal{
    padding: 50px;
}
#body-galery{
    
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    
}
.title{
    text-align: center;
    background-color: antiquewhite;
}
.title >h2 {
    font-size: 4rem;
    color: red;
    
}
.item-galery{
    background-color: #e5e6e8;
    width: 15%;
    padding: 50px 50px 30px 50px;
    margin-bottom: 30px;
}
.item-galery img{
    width: 100%;

}
#item-text-galery li{
    
    float: left;
    padding: 10px;
    margin-left: 120px;
    margin-right: 50px;
}
.item-welcome img{
    width: 150px;
    height: 150px;
    
}
.item-welcome-text{
    
    text-align: justify;
    display: flex;
    text-overflow:ellipsis;
}
.font-wel{
    background-color: rgb(64, 86, 211);
}
.item-welcome{
    background-color: rgb(64, 86, 211);
    width: 35%;
    padding-right: 30px;
    margin-left: 60px;
}
#body-welcome{
    display: flex;

}
.item-welcome-text{
    text-align: justify;
    
}
.item-fetures{
    margin-top: 10px;
}
.segmet{
    display: flex;
    margin-left: 15px;
    width: 90%;
    height: 400px;
}
